.intro {
    background-image: url(/assets/Background_Intro.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#icon_jonatha {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    border-radius: 100%;
    border: 2px solid #011C73;
    padding: 5px;
}